.headercls{
    color:white;
    font-size: 25px;
    
}

.header-box{
    height: 100px;
    border: 3px solid red;
    padding: 5px;
    text-align: center;
    background: #678690;
    font-weight: bold;
    font-size: large;
    color: rgb(236, 230, 222);
}